:root {
  --main-color: #f4d04e;
}

@font-face {
  font-family: "figtree-bold";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf");
}

@font-face {
  font-family: "figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  font-family: "figtree", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 384px;
  border: 1px solid #111;
  border-radius: 20px;
  padding: 23px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
  background: white;
}

.card__image {
  width: 100%;
  border-radius: 10px;
}

.card__content {
  margin-top: 22px;
}

.blog_category {
  background: var(--main-color);
  padding: 6px 13px;
  width: fit-content;
  font-size: 14px;
  border-radius: 5px;
  font-family: "figtree-bold", sans-serif;
  text-transform: capitalize;
}

.blog_published_date {
  font-size: 14px;
  text-transform: capitalize;
  color: #111111;
  margin-top: 20px;
}

.blog_title {
  font-size: 24px;
  font-family: "figtree-bold", sans-serif;
  color: #111;
  margin-top: 18px;
}

.blog_desc {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 150%;
  margin-top: 15px;
}

.blog_author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.blog_author__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.blog_author__name {
  font-size: 14px;
  font-family: "figtree-bold", sans-serif;
  color: #111;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 327px;
    padding: 20px;
  }

  .card__content {
    margin-top: 20px;
  }

  .blog_category {
    font-size: 12px;
    padding: 4px 10px;
  }

  .blog_published_date {
    font-size: 12px;
  }

  .blog_title {
    font-size: 20px;
  }

  .blog_desc {
    font-size: 14px;
  }
}
